body {
  font-family: 'Inconsolata', sans-serif;
}

.navbar,
footer {
  background-color: #ccc;
  font-weight: 200;
  border-bottom: 5px solid #6e6e6e;
}

#cabecalho .nav .nav-link.active {
  background-color: black;
  color: white;
}

#cabecalho .nav .nav-link {
  color: black;
}

#cabecalho .nav .nav-link.active:hover,
#cabecalho .nav .nav-link:hover {
  text-decoration: underline;
}

.carousel-cars  {
  height: 600px;
}

.titulo-secao {
  font-family: 'Roboto Mono', 'Courier New';
  border-bottom: 1px solid #ccc;
}

.subtitulo-secao {
  font-weight: 500;
}

#historia {
  background-color: #eeeeee;
}

#modelos {
  background-color: #ccc;
}

.nav-modelos .text-colored {
  color: black;
  padding: 6px 8px;
  margin-bottom: 2px;
}

.nav-modelos .text-colored.active,
.form-enviar {
  color: white;
  background-color: black;
}

.card-body {
  background-color: #ccc;
}

.card-footer {
  background-color: black;
}

.card-text,
.card-body h4 {
  color: black;
}

.btn-dark {
  background-color: black;
  border: none;
}

.card-header {
  background-color: black;
}

.card-header h3 {
  color: white;
  font-size: 26px;
}

.container-img img {
  max-height: 163px;
}

#modelos .titulo-secao {
  border-bottom: 1px solid #eee;
}